@font-face {
  font-family: 'montserrat-light';
  src: url(../font/Montserrat-Light.ttf);
}



/*reset*/

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

body,
div,
header,
nav,
ul,
li,
section,
form,
label,
input,
textarea {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'montserrat-light';
  /*14px = 100%*/
}

/*Header*/

header {
  background: linear-gradient(120deg, #75442A 50%, #392620 50%);
  color: #fff;
  padding-bottom: 40px;
  width: 100%;
}

.logo {
  margin-left: 25px;
  margin-top: 25px;
  width: 130px;
  position: absolute;
}

/*menu*/

nav {
  float: right;
  width: 90%;
  color: #fff;
  height: 45px;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 25px;
  margin-right: 25px;

}

nav .menu-hamburguer {
  float: right;
}

.abre-menu-hamburguer nav {
  height: 230px;
  transition: 0.5s;
}

.menu-hamburguer {
  font-size: 4em;
  cursor: pointer;
  margin-top: -35px;
}

.lista-menu {
  list-style: none;
  padding: 0;
  clear: both;

}

.lista-menu li {
  height: 45px;
  border-bottom: #fff 1px solid;
}

.menu {
  text-align: center;
}

.menu a {
  color: #fff;
  height: 45px;
  line-height: 45px;
  text-decoration: none;
}

.banner {
  text-align: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.foto-banner {
  width: 30%;
  margin: 90px 0 25px 0;
}


/*Galeria*/

main {
  justify-content: center;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
}

div.galeria-escura {
  margin: 3%;
  border: 1px solid #392620;
  width: 180px;
}

div.galeria-clara {
  margin: 3%;
  border: 1px solid #392620;
  width: 180px;
}

div.galeria-escura:hover {
  border: 10px solid #392620;
  transition: 0.5s;
}

div.galeria-clara:hover {
  border: 10px solid #75442A;
  transition: 0.5s;
}

div.galeria-escura img {
  width: 100%;
  height: auto;
}

div.galeria-clara img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


iframe {
  width: 100%;
}


/*Form*/

.cnt {
  text-align: center;
  margin-bottom: 45px;
}

.cnt h3 {
  background-color: #75442A;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

form {
  width: 80%;
  margin: auto;
  padding: 25px;
}

input[id=email],
input[id=nome],
input[id=telefone],
textarea {
  margin: 5px 0;
  border: #392620 3px solid;
  border-radius: 15px;
}

input[id=email],
input[id=nome],
input[id=telefone] {
  min-width: 99%;
  max-width: 99%;
}

form textarea {
  margin: 5px 0;
  min-width: 99%;
  min-height: 140px;
  max-width: 99%;
  max-height: 140px;
}

form .submit {
  margin: 5px 0;
  border: #392620 3px solid;
  background-color: #fff;
  border-radius: 15px;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  padding-right: 45px;
  text-decoration: none;
  color: #392620;
  top: -42px;
}

form .submit:hover {
  background-color: #75442A;
  border: #75442A 3px solid;
  color: #fff;
  transition: 0.5s;
}
/*footer*/

footer {
  background-color: #392620;
  margin-top: 35px;
}

footer .parte1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contato {
  color: #fff;
  font-size: 0.75em;
  margin-top: 20px;
  margin-left: 25px;
  
}

.contato li {
  list-style: none;
  margin-bottom: 10px;
}

.contato li a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.contato li img {
  margin-top: 5px;
  width: 25px;
}

.paginas {
  text-align: center;
}

.paginas ul {
  justify-content: center;
  align-items: center;
}

.paginas li {
  list-style: none;
  color: #fff;
  margin: 15px 10px 15px 10px;
}

.paginas li a {
  text-decoration: none;
  color: #fff;
}

.logoFooter {
  width: auto;
  height: 70px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  float: right;
  padding: 0;
}

.direitos {
  clear: both;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}

.direitos hr {
  height: 5px;
  background-color: #fff;
}

.direitos p{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}







/*TABLET*/
@media only screen and (min-width: 768px) {

  .banner {
    justify-content: center;
    padding-bottom: 50px;
  }


  main {
    margin: 55px;
  }


  /*Form*/

  form {
    width: 60%;
  }

  form textarea {
    min-height: 160px;
    max-height: 160px;
  }

  .mapa {

    text-align: center;
  }

  iframe {
    width: 80%;
  }

  /*footer*/


  .contato {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 1em;
  }

  .paginas ul {
    display: flex;
    margin-top: 65px;
  }

  .logoFooter {
    height: 100px;
    margin-top: 40px;
    margin-right: 40px;
  }

  .direitos {
    clear: both;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
  }

}

/*fim da media querry Tablet*/



@media only screen and (min-width: 1058px) {

  /*MENU*/

  nav {
    transition: none;
    float: right;
    overflow: visible;
    padding-top: 30px;
    width: 400px;
  }

  .menu-hamburguer {
    display: none;
  }

  .lista-menu {
    display: flex;
    width: 768px;
  }

  .lista-menu li {
    border-bottom: none;
    padding: 0 25px;
  }

  .lista-menu a {
    color: #fff;
    position: relative;
    text-decoration: none;
    padding-bottom: 2px;
  }

  .lista-menu li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  .lista-menu a:hover::before {
    transform-origin: left;
    transform: scaleX(1);

  }

  .banner {
    clear: both;
    align-items: center;
    display: flex;
  }


  main {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  /*Galeria*/

  main {
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  /*Form*/

  form {
    width: 50%;
  }

  form textarea {
    min-height: 180px;
    max-height: 180px;
  }




}